@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: m5x7;
  src: url(/public/m5x7.ttf);
}

body {
  font-family: m5x7, Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 22px;
  /* color: white; */
}

* {
  webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#pb-container > * {
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#pb-container {
  color: black;
}
